.BoardGame {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 150px 30px;
  gap: 2rem;
  border: 1px solid #6c757d;
  margin: 1rem;
  margin-top: 2rem;
  border-radius: 5px;

  @media screen and (max-width: 50em) {
    grid-template-rows: 6rem 200px 30px;
  }
  @media screen and (max-width: 31.25em) {
    grid-template-rows: 8rem 200px 30px;
  }
}

.Title {
  grid-area: title;
  font-size: 3rem;
  grid-column: 1/ -1;
  grid-row: 1 / 2;
  text-align: center;
  border-bottom: 1px solid #6c757d;
  justify-content: center;
  align-self: stretch;
  background-color: #1266f1;
  color: white;

  @media screen and (max-width: 62.5em) {
    font-size: 1.8rem;
  }
}

.Description {
  grid-column: 2 / -2;
  grid-row: 2 / 3;
  font-size: 1.4rem;
  margin-right: 3rem;
}

.Image {
  justify-self: center;
  align-self: center;
  max-width: 150px;
  max-height: 150px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  @media screen and (max-width: 37.5em) {
    max-width: 100px;
    max-height: 100px;
  }
}

.Textarea {
  grid-column: -2 / -1;
  grid-row: 2 / 3;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.Information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  font-size: 2.5rem;
  @media screen and (max-width: 37.5em) {
    grid-column: 1 / -1;
    font-size: 2rem;
  }
}

.Favorite {
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.active {
  color: red;
}
