.SearchBar {
  margin-top: 1rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &Input {
    width: 50%;
    height: 4rem;

    border: 3px solid #1266f1;
    border-right: none;
    border-radius: 5px 0 0 5px;

    font-size: 2rem;

    outline: none;
    padding: 1rem;
  }

  &Button {
    width: 40px;
    height: 4rem;

    border: 1px solid #1266f1;
    border-radius: 0 5px 5px 0px;

    background-color: #1266f1;

    text-align: center;

    cursor: pointer;

    font-size: 2.5rem;
    color: white;
  }
}
